Flask==3.1.0
openai==1.58.1
fpdf==1.7.2
python-docx==0.8.11
cmake==3.31.2
Cython==3.0.11
pyjnius==1.6.1
gunicorn==23.0.0
fastapi==0.115.6
uvicorn==0.34.0
python-dotenv==0.21.0
Werkzeug==3.1
PyPDF2==3.0.1
